# Selecting data with feature selection and main effects removal

In [2]:
import pandas as pd
import numpy as np
from sklearn.pipeline import make_pipeline
import random as rnd
from os import fstat
from sys import exit
from pyplink import PyPlink

In [3]:
names = pd.read_csv("filtered_SNPs.csv")
names = list(names.iloc[:,1])
names

['rs1739855',
 'rs2296716',
 'rs4074196',
 'rs2377037',
 'rs7512482',
 'rs12562937',
 'rs2494626',
 'rs78504402',
 'rs11588930',
 'rs12753298',
 'rs12409875',
 'rs2477702',
 'rs3122923',
 'rs12406506',
 'rs11584295',
 'rs72848552',
 'rs28734787',
 'rs4310388',
 'rs114996135',
 'rs11590198',
 'rs11590361',
 'rs57572926',
 'rs10909851',
 'rs76031446',
 'rs897623',
 'rs56406535',
 'rs17387572',
 'rs61766528',
 'rs4648482',
 'rs897619',
 'rs12119163',
 'rs2925499',
 'rs2485944',
 'rs6691208',
 'rs1569419',
 'rs2993493',
 'rs12094678',
 'rs3002685',
 'rs6669407',
 'rs10492937',
 'rs2244013',
 'rs10909948',
 'rs1896',
 'rs2794327',
 'rs3765753',
 'rs7551237',
 'rs10909830',
 'rs12080516',
 'rs16840810',
 'rs7418714',
 'rs6426417',
 'rs17348839',
 'rs4654556',
 'rs1157688',
 'rs241224',
 'rs12122754',
 'rs4654454',
 'rs10915577',
 'rs16839450',
 'rs449154',
 'rs1120120',
 'rs9439532',
 'rs12045223',
 'rs499416',
 'rs11801594',
 'rs12724170',
 'rs12049337',
 'rs1081454',
 'rs2227911',
 'rs3789530',
 'rs4908865',
 'rs17029372',
 'rs4582826',
 'rs2103673',
 'rs2986738',
 'rs4908901',
 'rs10128022',
 'rs11809898',
 'rs4908445',
 'rs6663735',
 'rs12058235',
 'rs4908665',
 'rs6658296',
 'rs6687002',
 'rs72630583',
 'rs12747548',
 'rs75050832',
 'rs3124796',
 'rs7551807',
 'rs17461217',
 'rs12126833',
 'rs3011930',
 'rs75630480',
 'rs3011936',
 'rs34956146',
 'rs1417986',
 'rs2239847',
 'rs35925924',
 'rs80158237',
 'rs2794665',
 'rs11587479',
 'rs707455',
 'rs697673',
 'rs1048773',
 'rs1048785',
 'rs697681',
 'rs12565104',
 'rs560959',
 'rs11807985',
 'rs228642',
 'rs228666',
 'rs228669',
 'rs228654',
 'rs170630',
 'rs697694',
 'rs228651',
 'rs79479445',
 'rs74509095',
 'rs11121035',
 'rs11582983',
 'rs78980085',
 'rs228702',
 'rs11580517',
 'rs170551',
 'rs76198826',
 'rs6703670',
 'rs79134628',
 'rs74441036',
 'rs72634253',
 'rs61772739',
 'rs12134193',
 'rs6577465',
 'rs61774166',
 'rs11121104',
 'rs7542367',
 'rs6701300',
 'rs78924983',
 'rs12711517',
 'rs10779702',
 'rs17032907',
 'rs17032942',
 'rs7555782',
 'rs10864390',
 'rs17393144',
 'rs11802925',
 'rs6577559',
 'rs1009940',
 'rs9442562',
 'rs9726646',
 'rs525476',
 'rs926247',
 'rs4073710',
 'rs4601595',
 'rs10492972',
 'rs2506878',
 'rs284301',
 'rs560611',
 'rs284233',
 'rs284254',
 'rs718047',
 'rs2072996',
 'rs3818762',
 'rs1801131',
 'rs1994798',
 'rs17421462',
 'rs17037390',
 'rs13306560',
 'rs3737964',
 'rs2273289',
 'rs6675934',
 'rs976881',
 'rs5746051',
 'rs3121607',
 'rs13376289',
 'rs4846127',
 'rs4846128',
 'rs6679088',
 'rs3010928',
 'rs4845911',
 'rs2495051',
 'rs7537478',
 'rs12118400',
 'rs6693784',
 'rs12129723',
 'rs6429821',
 'rs1983608',
 'rs4579751',
 'rs10803271',
 'rs4661493',
 'rs619719',
 'rs3845589',
 'rs7546786',
 'rs10803338',
 'rs6681053',
 'rs7554543',
 'rs7545204',
 'rs1805152',
 'rs945403',
 'rs2076604',
 'rs12026071',
 'rs2293916',
 'rs75197044',
 'rs16824705',
 'rs72646786',
 'rs72646792',
 'rs3003444',
 'rs2477141',
 'rs2477137',
 'rs78138254',
 'rs11579504',
 'rs1635599',
 'rs874881',
 'rs57744451',
 'rs1748032',
 'rs942460',
 'rs1635577',
 'rs2240337',
 'rs2240336',
 'rs1193345',
 'rs10788678',
 'rs16830757',
 'rs694214',
 'rs678648',
 'rs673567',
 'rs12076097',
 'rs10492995',
 'rs16862061',
 'rs6603910',
 'rs12121587',
 'rs12565195',
 'rs4912075',
 'rs1078895',
 'rs9426629',
 'rs10158092',
 'rs10799809',
 'rs4655231',
 'rs36099588',
 'rs10917560',
 'rs76478734',
 'rs17401735',
 'rs3767218',
 'rs2233688',
 'rs1796915',
 'rs1796918',
 'rs17411112',
 'rs12402317',
 'rs12049377',
 'rs1253795',
 'rs1076669',
 'rs4654748',
 'rs975000',
 'rs869179',
 'rs829370',
 'rs829418',
 'rs2625408',
 'rs3767134',
 'rs333173',
 'rs10917043',
 'rs10737461',
 'rs4654986',
 'rs3767137',
 'rs12025807',
 'rs2807364',
 'rs2982282',
 'rs2744741',
 'rs2744759',
 'rs4654794',
 'rs12078899',
 'rs61769163',
 'rs6660548',
 'rs12742784',
 'rs77582331',
 'rs10753536',
 'rs12750721',
 'rs116723603',
 'rs79523306',
 'rs12568930',
 'rs34963268',
 'rs58215126',
 'rs61769171',
 'rs6669696',
 'rs74848228',
 'rs72649467',
 'rs7534009',
 'rs11581927',
 'rs7543780',
 'rs4414016',
 'rs4654799',
 'rs113412117',
 'rs12756490',
 'rs11580191',
 'rs665691',
 'rs2935542',
 'rs10917279',
 'rs751023',
 'rs10917347',
 'rs4648892',
 'rs11578307',
 'rs7524076',
 'rs7552167',
 'rs4649203',
 'rs12401714',
 'rs6688452',
 'rs1507101',
 'rs1293202',
 'rs1005735',
 'rs906296',
 'rs4649038',
 'rs12725096',
 'rs56218248',
 'rs876109',
 'rs6688058',
 'rs12124894',
 'rs4648888',
 'rs11249212',
 'rs11581762',
 'rs11583823',
 'rs12130556',
 'rs71589764',
 'rs12743484',
 'rs2783711',
 'rs11247860',
 'rs12145714',
 'rs12031946',
 'rs11247963',
 'rs12742115',
 'rs12755215',
 'rs517249',
 'rs10794514',
 'rs17262440',
 'rs7518159',
 'rs761429',
 'rs9426282',
 'rs16832695',
 'rs1372372',
 'rs387232',
 'rs11808436',
 'rs4259710',
 'rs12071249',
 'rs12067413',
 'rs10798927',
 'rs1009080',
 'rs6694545',
 'rs17263039',
 'rs10914754',
 'rs3131419',
 'rs867720',
 'rs11585718',
 'rs16833790',
 'rs6698359',
 'rs12132682',
 'rs7518151',
 'rs2271933',
 'rs12072552',
 'rs1004420',
 'rs6677618',
 'rs11811702',
 'rs979383',
 'rs561207',
 'rs12136144',
 'rs4653105',
 'rs7543044',
 'rs1203138',
 'rs676614',
 'rs595961',
 'rs11263857',
 'rs12116935',
 'rs61308377',
 'rs4503315',
 'rs589249',
 'rs656826',
 'rs589927',
 'rs6671088',
 'rs631432',
 'rs4634868',
 'rs11211383',
 'rs12750006',
 'rs1108182',
 'rs544700',
 'rs2169570',
 'rs568476',
 'rs7533892',
 'rs6686813',
 'rs7530333',
 'rs6665139',
 'rs1325308',
 'rs7547921',
 'rs11207485',
 'rs11805729',
 'rs883220',
 'rs2480697',
 'rs2494441',
 'rs2247973',
 'rs11211100',
 'rs2039597',
 'rs784619',
 'rs784600',
 'rs12745951',
 'rs12137477',
 'rs3131664',
 'rs3131651',
 'rs2272994',
 'rs491619',
 'rs7549877',
 'rs7519954',
 'rs12746339',
 'rs11210729',
 'rs1105297',
 'rs3754223',
 'rs6954',
 'rs11210858',
 'rs9326136',
 'rs1978195',
 'rs2158821',
 'rs942755',
 'rs7522642',
 'rs12741645',
 'rs11210992',
 'rs7354900',
 'rs11211091',
 'rs6694302',
 'rs12732188',
 'rs2236560',
 'rs606884',
 'rs10890398',
 'rs45564940',
 'rs6700838',
 'rs11211508',
 'rs688540',
 'rs11211587',
 'rs17468833',
 'rs850763',
 'rs10888608',
 'rs1934379',
 'rs354155',
 'rs12088617',
 'rs12064928',
 'rs6588405',
 'rs12735390',
 'rs6671552',
 'rs12568971',
 'rs1769309',
 'rs11206192',
 'rs1183394',
 'rs904218',
 'rs2873450',
 'rs746503',
 'rs10736390',
 'rs17396131',
 'rs1147990',
 'rs140936549',
 'rs17111495',
 'rs2479406',
 'rs17111503',
 'rs2479409',
 'rs2479410',
 'rs499718',
 'rs2495478',
 'rs11206514',
 'rs7546522',
 'rs624612',
 'rs625619',
 'rs2495477',
 'rs2479413',
 'rs7552841',
 'rs634272',
 'rs471705',
 'rs533375',
 'rs10465832',
 'rs17111959',
 'rs11206577',
 'rs12022663',
 'rs6684261',
 'rs1331861',
 'rs697581',
 'rs1417768',
 'rs2793662',
 'rs7535757',
 'rs1261411',
 'rs17420181',
 'rs12030855',
 'rs561703',
 'rs264041',
 'rs155284',
 'rs197637',
 'rs694060',
 'rs545582',
 'rs12085345',
 'rs3126031',
 'rs4912295',
 'rs11577017',
 'rs2764681',
 'rs1237207',
 'rs11580092',
 'rs7518838',
 'rs7537470',
 'rs232816',
 'rs1323288',
 'rs2760501',
 'rs3949912',
 'rs2716121',
 'rs17464532',
 'rs4912385',
 'rs4424536',
 'rs6701583',
 'rs1324489',
 'rs2554297',
 'rs7547011',
 'rs10889189',
 'rs472913',
 'rs484335',
 'rs10489912',
 'rs6691768',
 'rs17122491',
 'rs2886326',
 'rs9326052',
 'rs12033235',
 'rs17380555',
 'rs4915827',
 'rs2095403',
 'rs10889328',
 'rs1748195',
 'rs4409689',
 'rs12130333',
 'rs17316337',
 'rs7528963',
 'rs12119857',
 'rs4915865',
 'rs17124674',
 'rs17319248',
 'rs12024843',
 'rs2269239',
 'rs1354717',
 'rs986329',
 'rs11580998',
 'rs1535872',
 'rs6681578',
 'rs6676160',
 'rs2478151',
 'rs310245',
 'rs310201',
 'rs12743599',
 'rs578271',
 'rs6696692',
 'rs17127323',
 'rs7549901',
 'rs6588140',
 'rs2025805',
 'rs4655537',
 'rs1892534',
 'rs12022410',
 'rs7539471',
 'rs4291477',
 'rs11208765',
 'rs7548408',
 'rs7367706',
 'rs6692318',
 'rs1885276',
 'rs11209002',
 'rs78197436',
 'rs6588244',
 'rs790633',
 'rs76253605',
 'rs34223023',
 'rs7548656',
 'rs7548827',
 'rs11209049',
 'rs755826',
 'rs2066446',
 'rs56216137',
 'rs3790561',
 'rs10889683',
 'rs17129835',
 'rs7518845',
 'rs10749775',
 'rs17129895',
 'rs3828069',
 'rs60934365',
 'rs2863750',
 'rs4655709',
 'rs11209072',
 'rs59020883',
 'rs10889689',
 'rs12138671',
 'rs1547775',
 'rs10458577',
 'rs74611182',
 'rs6657603',
 'rs12027122',
 'rs79876827',
 'rs11209084',
 'rs699232',
 'rs663612',
 'rs594193',
 'rs1360181',
 'rs944081',
 'rs12080547',
 'rs12759438',
 'rs872850',
 'rs1492075',
 'rs854285',
 'rs4617455',
 'rs4558025',
 'rs11209479',
 'rs10789303',
 'rs11579093',
 'rs3767214',
 'rs12737233',
 'rs629807',
 'rs2651244',
 'rs2807904',
 'rs9424945',
 'rs10889881',
 'rs950031',
 'rs3765894',
 'rs2744918',
 'rs17090910',
 'rs1577396',
 'rs1459793',
 'rs2815752',
 'rs4130885',
 'rs17568889',
 'rs12145301',
 'rs649058',
 'rs1575983',
 'rs4949857',
 'rs17622436',
 'rs1249812',
 'rs1858627',
 'rs11806459',
 'rs10158990',
 'rs211771',
 'rs6662665',
 'rs211718',
 'rs546786',
 'rs17670910',
 'rs4949626',
 'rs341016',
 'rs674381',
 'rs689423',
 'rs199694',
 'rs199720',
 'rs12077763',
 'rs10493596',
 'rs12565526',
 'rs11162350',
 'rs10873947',
 'rs1410507',
 'rs4650547',
 'rs12036315',
 'rs17406004',
 'rs17102673',
 'rs12125467',
 'rs1687845',
 'rs2997195',
 'rs11808103',
 'rs6666532',
 'rs7546540',
 'rs7553397',
 'rs1410088',
 'rs12118952',
 'rs4350242',
 'rs17420202',
 'rs6672464',
 'rs1498204',
 'rs1391475',
 'rs10493708',
 'rs11163472',
 'rs1887250',
 'rs4363415',
 'rs10518668',
 'rs11163557',
 'rs4662179',
 'rs11485345',
 'rs7540335',
 'rs10489498',
 'rs12032602',
 'rs4907126',
 'rs17121745',
 'rs4074156',
 'rs11161570',
 'rs17124345',
 'rs11161574',
 'rs2647394',
 'rs12726649',
 'rs4949927',
 'rs4949928',
 'rs2735592',
 'rs11161586',
 'rs12098220',
 'rs11585614',
 'rs233100',
 'rs6669293',
 'rs3768226',
 'rs233051',
 'rs1554597',
 'rs1006989',
 'rs11161617',
 'rs648310',
 'rs11587876',
 'rs11161618',
 'rs1146382',
 'rs974874',
 'rs480414',
 'rs527762',
 'rs1403956',
 'rs2210073',
 'rs1403954',
 'rs7512147',
 'rs10493769',
 'rs7517469',
 'rs17400787',
 'rs1507286',
 'rs6677603',
 'rs932185',
 'rs944367',
 'rs6696952',
 'rs17426269',
 'rs10493799',
 'rs305413',
 'rs17130426',
 'rs4656078',
 'rs10922573',
 'rs2077845',
 'rs4269759',
 'rs6428576',
 'rs10922788',
 'rs12410130',
 'rs12407088',
 'rs12116789',
 'rs10922926',
 'rs925078',
 'rs11585319',
 'rs4658240',
 'rs1041159',
 'rs2765880',
 'rs2765881',
 'rs2810894',
 'rs2810893',
 'rs6669888',
 'rs913059',
 'rs2810888',
 'rs6662887',
 'rs2046736',
 'rs12118310',
 'rs11165307',
 'rs6678420',
 'rs2279455',
 'rs11165377',
 'rs12073224',
 'rs6677523',
 'rs4658112',
 'rs12124746',
 'rs284169',
 'rs12123436',
 'rs284173',
 'rs17573483',
 'rs17131553',
 'rs284180',
 'rs17131554',
 'rs284182',
 'rs284185',
 'rs4658265',
 'rs284202',
 'rs6669044',
 'rs6658144',
 'rs6678564',
 'rs2297142',
 'rs17514919',
 'rs284157',
 'rs284152',
 'rs901917',
 'rs1488691',
 'rs10493856',
 'rs6680614',
 'rs7513952',
 'rs12069890',
 'rs12563149',
 'rs1887813',
 'rs10783071',
 'rs17576636',
 'rs72718431',
 'rs74101086',
 'rs6693563',
 'rs72954760',
 'rs17131593',
 'rs1963186',
 'rs17131598',
 'rs17518433',
 'rs78538266',
 'rs3103174',
 'rs77701296',
 'rs12132293',
 'rs6662618',
 'rs41313373',
 'rs34631763',
 'rs17371561',
 'rs56307974',
 'rs6603997',
 'rs3790451',
 'rs3790450',
 'rs41286811',
 'rs11164788',
 'rs7530780',
 'rs12030613',
 'rs71650502',
 'rs11164798',
 'rs59864761',
 'rs1610320',
 'rs6604026',
 'rs11164827',
 'rs75462445',
 'rs12757307',
 'rs12133990',
 'rs34098754',
 'rs475009',
 'rs11164857',
 'rs2485032',
 'rs12043007',
 'rs12023767',
 'rs485336',
 'rs2265928',
 'rs563930',
 'rs2281524',
 'rs10874784',
 'rs2391322',
 'rs2235970',
 'rs2065711',
 'rs12049183',
 'rs1324214',
 'rs12725602',
 'rs4847356',
 'rs2275612',
 'rs11165315',
 'rs2064664',
 'rs1931254',
 'rs10783021',
 'rs200077027',
 'rs1413228',
 'rs10875071',
 'rs12563828',
 'rs12411169',
 'rs10875084',
 'rs17100664',
 'rs17386441',
 'rs4542263',
 'rs12124356',
 'rs6698436',
 'rs303386',
 'rs10875290',
 'rs12131154',
 'rs1409419',
 'rs3176867',
 'rs3917012',
 'rs3176869',
 'rs3181088',
 'rs3176874',
 'rs12129732',
 'rs34784401',
 'rs61810305',
 'rs4908100',
 'rs34890869',
 'rs11166525',
 'rs61780279',
 'rs3188491',
 'rs10493937',
 'rs71662908',
 'rs3737580',
 'rs17123491',
 'rs72734256',
 'rs17123542',
 'rs17610195',
 'rs7514731',
 'rs12023712',
 'rs34653057',
 'rs75460852',
 'rs1335746',
 'rs17410029',
 'rs7526789',
 'rs11166541',
 'rs61782144',
 'rs1212212',
 'rs17123757',
 'rs12047737',
 'rs11166550',
 'rs74106750',
 'rs61783369',
 'rs78238887',
 'rs6676334',
 'rs3927520',
 'rs12410412',
 'rs12564478',
 'rs34792655',
 'rs10875357',
 'rs4411145',
 'rs74970219',
 'rs1041312',
 'rs2038363',
 'rs12734373',
 'rs4908145',
 'rs2638055',
 'rs10493955',
 'rs1776911',
 'rs387176',
 'rs263906',
 'rs1199575',
 'rs1776914',
 'rs11583344',
 'rs2997430',
 'rs11809901',
 'rs11164623',
 'rs1012281',
 'rs7543626',
 'rs10881476',
 'rs1182598',
 'rs7552867',
 'rs12568560',
 'rs7536956',
 'rs12036613',
 'rs4378236',
 'rs12045753',
 'rs3924950',
 'rs1762482',
 'rs4481881',
 'rs17229705',
 'rs4914950',
 'rs6673104',
 'rs17019802',
 'rs11185172',
 'rs3761900',
 'rs12039210',
 'rs4083872',
 'rs1277016',
 'rs4246519',
 'rs2301229',
 'rs568686',
 'rs579035',
 'rs2298116',
 'rs555095',
 'rs4839069',
 'rs4839072',
 'rs2821557',
 'rs11102212',
 'rs586995',
 'rs630505',
 'rs4323713',
 'rs1264913',
 'rs2095731',
 'rs1338078',
 'rs626737',
 'rs12077633',
 'rs7413702',
 'rs12143327',
 'rs6537730',
 'rs2998359',
 'rs10494147',
 'rs4644492',
 'rs10745330',
 'rs2359710',
 'rs11811051',
 'rs736202',
 'rs773566',
 'rs773586',
 'rs10857988',
 'rs1418609',
 'rs1361765',
 'rs12023451',
 'rs4839312',
 'rs10494157',
 'rs9308261',
 'rs1935745',
 'rs10494160',
 'rs11102621',
 'rs11807523',
 'rs12401485',
 'rs7533701',
 'rs6688796',
 'rs35947596',
 'rs1573996',
 'rs6694861',
 'rs10776771',
 'rs35724759',
 'rs11102647',
 'rs11102649',
 'rs34079561',
 'rs11588901',
 'rs66602772',
 'rs1343630',
 'rs79470224',
 'rs1217231',
 'rs1217210',
 'rs7515189',
 'rs6678422',
 'rs55968840',
 'rs7511816',
 'rs72689987',
 'rs11102671',
 'rs3752954',
 'rs56275921',
 'rs112466328',
 ...]

In [4]:
df = pd.DataFrame()
with PyPlink("CD_UC_CON_QCed_rel1_without_relatives_maf0.05_hwe0.001_Liu2015_232SNPs_LD0.75_noFilter_binary") as bed:
        # GettinM
        bim = bed.get_bim()
        fam = bed.get_fam()
   
        # Iterating over all loci
        for loci_name, genotypes in bed:
            if loci_name in names:
                df[loci_name] = genotypes[:]

df["Y"] = fam["status"]

In [19]:
df

,rs1739855,rs2296716,rs4074196,rs2377037,rs7512482,rs12562937,rs2494626,rs78504402,rs11588930,rs12753298,...,rs28681372,rs11101958,rs882753,rs74798979,rs470119,rs4040041,rs9616810,rs9628185,rs9628187,Y
0,0,0,2,0,0,1,1,0,1,0,...,1,1,0,1,0,0,0,2,0,1
1,0,0,0,2,1,1,0,0,0,0,...,1,1,1,1,1,0,0,1,1,1
2,0,0,1,0,1,0,0,0,0,0,...,1,0,0,0,1,0,0,2,1,1
3,1,0,1,0,0,1,1,0,0,0,...,1,0,0,1,1,1,1,1,1,1
4,0,0,0,1,0,1,1,0,0,0,...,0,1,0,0,0,0,0,2,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66275,0,0,1,1,0,0,0,0,0,0,...,1,1,0,0,0,2,1,0,1,1
66276,0,0,1,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,2,0,1
66277,0,0,2,0,0,0,0,0,0,1,...,0,0,0,2,0,0,0,2,0,1
66278,0,2,0,0,0,0,1,0,1,0,...,1,0,0,0,0,1,0,1,1,1
66279,0,1,0,2,0,0,1,1,0,1,...,0,0,0,1,1,1,0,1,1,1

# SELECTING DATA FROM ReliefF

In [42]:
ReliefF = pd.read_csv("Relieff_data\\relieff-scores-10-100-Complete_withANSWER_corrected_for_confounding_corrected_on_1st_column.csv",sep='\s+',skiprows=2)
ReliefF = ReliefF.iloc[:,0:2]
ReliefF

              ===    SCORES
0      rs11805303  0.004511
1       rs7517847  0.004352
2       rs2066844  0.004236
3      rs11580078  0.003983
4       rs6669582  0.003608
...           ...       ...
38220  rs11783418 -0.002613
38221   rs2244894 -0.002733
38222  rs11991118 -0.002766
38223  rs11250076 -0.002876
38224   rs2244648 -0.003375

[38225 rows x 2 columns]

Removing rows with strong main effect (those excluded by the p-value)

In [43]:
Rel_red = ReliefF.loc[ReliefF['==='].isin(names)]
Rel_red = Rel_red.iloc[:400,:] # taking top-400
Rel_red

            ===    SCORES
12   rs11634560  0.002707
14    rs4982766  0.002651
23   rs10491640  0.002453
30     rs199529  0.002348
36   rs76200426  0.002296
..          ...       ...
809   rs6832480  0.001350
813   rs2404233  0.001347
815   rs9332575  0.001345
816  rs79309130  0.001344
819  rs11235706  0.001342

[400 rows x 2 columns]

In [44]:
names_rel = list(Rel_red.iloc[:,0])
names_rel = sorted(names_rel)
names_rel

['imm_2_234147184',
 'rs10028107',
 'rs10103667',
 'rs10104380',
 'rs1012281',
 'rs10146912',
 'rs10158092',
 'rs10159477',
 'rs10179521',
 'rs10195337',
 'rs1034610',
 'rs10485641',
 'rs10491020',
 'rs10491111',
 'rs10491548',
 'rs10491640',
 'rs10492937',
 'rs10497576',
 'rs10500471',
 'rs10503716',
 'rs10516988',
 'rs10519046',
 'rs1061768',
 'rs1065489',
 'rs10734255',
 'rs10778338',
 'rs1078109',
 'rs10795158',
 'rs10799916',
 'rs10808469',
 'rs10817960',
 'rs10834401',
 'rs10896012',
 'rs10912694',
 'rs10917700',
 'rs10933973',
 'rs10937387',
 'rs11038190',
 'rs11084402',
 'rs11103233',
 'rs11104967',
 'rs11117717',
 'rs11121035',
 'rs111245745',
 'rs11142947',
 'rs11160186',
 'rs11164623',
 'rs11235706',
 'rs11242895',
 'rs11246288',
 'rs112743107',
 'rs11524508',
 'rs11542462',
 'rs11583823',
 'rs11590361',
 'rs11619043',
 'rs11631432',
 'rs11634560',
 'rs1163787',
 'rs11644277',
 'rs11651246',
 'rs11667601',
 'rs11679061',
 'rs11730442',
 'rs11784358',
 'rs11784679',
 'rs11802581',
 'rs11825368',
 'rs11878602',
 'rs11887387',
 'rs1195501',
 'rs11995712',
 'rs11995854',
 'rs11998187',
 'rs12049377',
 'rs12056463',
 'rs12126313',
 'rs12187550',
 'rs12194974',
 'rs12236285',
 'rs12262851',
 'rs12316091',
 'rs12335843',
 'rs12367059',
 'rs12372979',
 'rs12426798',
 'rs12433856',
 'rs12490794',
 'rs12546215',
 'rs12607228',
 'rs12608484',
 'rs12608819',
 'rs12692313',
 'rs12701874',
 'rs12725096',
 'rs12768348',
 'rs12819071',
 'rs12988167',
 'rs13077965',
 'rs13097652',
 'rs13143336',
 'rs13196204',
 'rs1331453',
 'rs13388221',
 'rs13389408',
 'rs1340239',
 'rs13438846',
 'rs1393350',
 'rs1449037',
 'rs1453488',
 'rs1504257',
 'rs1508641',
 'rs1538580',
 'rs1544538',
 'rs1551915',
 'rs1553554',
 'rs157880',
 'rs1585383',
 'rs160409',
 'rs1625164',
 'rs16822470',
 'rs16858983',
 'rs16900216',
 'rs16946565',
 'rs16948451',
 'rs16958164',
 'rs16967510',
 'rs16993718',
 'rs17067718',
 'rs17078339',
 'rs17184173',
 'rs17234365',
 'rs1724088',
 'rs17244648',
 'rs17245874',
 'rs17281154',
 'rs17400787',
 'rs17432497',
 'rs17496307',
 'rs17501521',
 'rs17531715',
 'rs17581484',
 'rs17648940',
 'rs17653722',
 'rs17679024',
 'rs17692715',
 'rs17695385',
 'rs17711283',
 'rs17740227',
 'rs17760268',
 'rs17766309',
 'rs17776428',
 'rs17788335',
 'rs17809756',
 'rs17813588',
 'rs17822847',
 'rs1784295',
 'rs1801701',
 'rs1860223',
 'rs1870830',
 'rs194743',
 'rs1957463',
 'rs1975197',
 'rs1995218',
 'rs199529',
 'rs199801944',
 'rs201218984',
 'rs2031068',
 'rs2032700',
 'rs2048779',
 'rs2062020',
 'rs2062214',
 'rs2063979',
 'rs2070995',
 'rs2071747',
 'rs2084624',
 'rs2108078',
 'rs2120729',
 'rs2129677',
 'rs2133165',
 'rs2255397',
 'rs2273289',
 'rs2279566',
 'rs2284190',
 'rs2331439',
 'rs2359610',
 'rs2404233',
 'rs241224',
 'rs241410',
 'rs2460842',
 'rs2494287',
 'rs2499714',
 'rs2546133',
 'rs2577007',
 'rs257706',
 'rs2617822',
 'rs2617823',
 'rs2744918',
 'rs2760532',
 'rs2815844',
 'rs2857644',
 'rs28666066',
 'rs28666972',
 'rs2875855',
 'rs302335',
 'rs315662',
 'rs3217795',
 'rs3218339',
 'rs331482',
 'rs34164',
 'rs34558449',
 'rs34784401',
 'rs34830055',
 'rs34890869',
 'rs34925346',
 'rs34975344',
 'rs354831',
 'rs3734346',
 'rs3793336',
 'rs3817928',
 'rs3895063',
 'rs3922843',
 'rs3936370',
 'rs3950134',
 'rs395832',
 'rs4146727',
 'rs4240259',
 'rs4244884',
 'rs4262299',
 'rs4443535',
 'rs4478839',
 'rs4492593',
 'rs4506162',
 'rs45444697',
 'rs45459100',
 'rs4605009',
 'rs4607517',
 'rs4665184',
 'rs4676396',
 'rs4697447',
 'rs4708487',
 'rs4714994',
 'rs4719714',
 'rs4725099',
 'rs4738129',
 'rs4751890',
 'rs4752292',
 'rs4756763',
 'rs4778639',
 'rs4787167',
 'rs4807901',
 'rs4817105',
 'rs4890852',
 'rs4904971',
 'rs4957341',
 'rs4982766',
 'rs5110',
 'rs528420',
 'rs537188',
 'rs544368',
 'rs55748593',
 'rs55953338',
 'rs56116307',
 'rs573223',
 'rs5761256',
 'rs577781',
 'rs578271',
 'rs5791106',
 'rs59602790',
 'rs6045160',
 'rs6066693',
 'rs6130671',
 'rs6134722',
 'rs61735651',
 'rs618324',
 'rs62093667',
 'rs621636',
 'rs62195091',
 'rs62257823',
 'rs62408219',
 'rs62421043',
 'rs62431928',
 'rs62515386',
 'rs6415683',
 'rs6429280',
 'rs6444286',
 'rs6447958',
 'rs6472602',
 'rs6507823',
 'rs6509936',
 'rs6585186',
 'rs6592607',
 'rs6666532',
 'rs6677603',
 'rs6691316',
 'rs6698436',
 'rs6699085',
 'rs6733390',
 'rs6736384',
 'rs6738721',
 'rs6738793',
 'rs6745182',
 'rs67575585',
 'rs676725',
 'rs679026',
 'rs6828640',
 'rs6832480',
 'rs6876161',
 'rs6901550',
 'rs6923467',
 'rs6925886',
 'rs6926118',
 'rs6983307',
 'rs7037332',
 'rs7098106',
 'rs7123243',
 'rs7176771',
 'rs7195118',
 'rs7258040',
 'rs72649467',
 'rs72682615',
 'rs72708441',
 'rs72770791',
 'rs72999499',
 'rs73116741',
 'rs73177343',
 'rs738791',
 'rs740898',
 'rs7430813',
 'rs74798467',
 'rs75072999',
 'rs7528148',
 'rs7543626',
 'rs755237',
 'rs7561649',
 'rs75657561',
 'rs75681130',
 'rs7568568',
 'rs7587179',
 'rs7607490',
 'rs76140443',
 'rs76200426',
 'rs7624534',
 'rs763036',
 'rs76582958',
 'rs7700191',
 'rs77097527',
 'rs7827280',
 'rs78346360',
 'rs7838116',
 'rs7839409',
 'rs7844188',
 'rs78904120',
 'rs78943353',
 'rs78943928',
 'rs7921731',
 'rs79309130',
 'rs79479445',
 'rs7950498',
 'rs7950649',
 'rs79518230',
 'rs79858848',
 'rs79881597',
 'rs79889663',
 'rs8006521',
 'rs8047363',
 'rs8062784',
 'rs8063605',
 'rs8078472',
 'rs859123',
 'rs870522',
 'rs878133',
 'rs880424',
 'rs894810',
 'rs896226',
 'rs897353',
 'rs910873',
 'rs9263800',
 'rs9314456',
 'rs9332575',
 'rs9391858',
 'rs945790',
 'rs9467160',
 'rs9502396',
 'rs9524591',
 'rs9531228',
 'rs9576628',
 'rs9612574',
 'rs9629920',
 'rs9650568',
 'rs9808416',
 'rs9822254',
 'rs9853285',
 'rs9862876',
 'rs987172',
 'rs9903582',
 'rs9907505',
 'rs991157',
 'rs9992839',
 'rs999494']

In [45]:
df = pd.DataFrame()
with PyPlink("CD_UC_CON_QCed_rel1_without_relatives_maf0.05_hwe0.001_Liu2015_232SNPs_LD0.75_noFilter_binary") as bed:
        # GettinM
        bim = bed.get_bim()
        fam = bed.get_fam()
   
        # Iterating over all loci
        for loci_name, genotypes in bed:
            if loci_name in names_rel:
                df[loci_name] = genotypes[:]

df["Y"] = fam["status"]

In [46]:
df

,rs11590361,rs10492937,rs241224,rs79479445,rs11121035,rs2273289,rs10158092,rs12049377,rs72649467,rs12725096,...,rs9612574,rs79858848,rs738791,rs5761256,rs2857644,rs2071747,rs3218339,rs763036,rs16993718,Y
0,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,0,0,0,1,0,1
1,0,0,0,1,1,0,1,0,0,0,...,0,0,1,0,0,0,0,1,0,1
2,0,0,0,0,0,0,1,0,1,0,...,0,0,0,0,2,0,0,1,0,1
3,0,0,0,0,1,0,1,0,0,2,...,0,0,0,2,1,1,0,1,2,1
4,0,0,1,0,0,1,0,0,0,0,...,0,0,1,1,0,0,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66275,1,1,0,0,0,1,1,0,0,1,...,1,0,2,0,0,0,0,0,0,1
66276,0,1,0,0,0,0,0,1,1,0,...,1,0,0,1,0,0,0,0,1,1
66277,0,1,1,0,0,0,0,0,0,0,...,0,0,2,1,0,0,1,1,0,1
66278,0,1,0,1,1,0,0,0,0,0,...,0,1,0,1,0,0,0,1,1,1
66279,0,1,0,0,0,0,0,0,0,0,...,0,0,2,1,0,0,0,1,1,1

In [47]:
for col in df:
    df[col] = df[col].astype(np.float64)
    
df.to_csv("ReliefF_output_top400_corrected.csv",index=False)

# SELECTING DATA FROM EPISCAN

In [6]:
episcan = pd.read_csv("snp_episcan_functional_corrected.csv",sep=',')
episcan

      Unnamed: 0           x
0              1   rs1990623
1              2   rs5743293
2              3   rs2066845
3              4   rs1420871
4              5   rs7205760
...          ...         ...
5537        5538  rs10922573
5538        5539  rs12211012
5539        5540  rs17022433
5540        5541  rs10875071
5541        5542  rs35972856

[5542 rows x 2 columns]

Removing rows with strong main effect (those excluded by the p-value)

In [7]:
Rel_red = episcan.loc[episcan['x'].isin(names)]
Rel_red = Rel_red.iloc[:400,:] # taking top-400
names_rel = list(Rel_red.iloc[:,1])
names_rel

['rs6500336',
 'rs16948451',
 'rs17496307',
 'rs12919875',
 'rs9391858',
 'rs2294883',
 'rs241407',
 'rs61815628',
 'rs61814969',
 'rs17427599',
 'rs17834885',
 'rs397081',
 'rs10947262',
 'rs2284190',
 'rs28394820',
 'rs6687015',
 'rs1044043',
 'rs7711099',
 'rs4959028',
 'rs4148872',
 'rs2233976',
 'rs241424',
 'rs12524487',
 'rs9268541',
 'rs2857210',
 'rs17552052',
 'rs9268365',
 'rs2523656',
 'rs2239701',
 'rs12528584',
 'rs6089949',
 'rs62358202',
 'rs11756897',
 'rs79086701',
 'rs3763366',
 'rs241425',
 'rs73999973',
 'rs3767218',
 'rs2516470',
 'rs12555131',
 'rs3132453',
 'rs6667202',
 'rs9262615',
 'rs241410',
 'rs719654',
 'rs76140443',
 'rs113592495',
 'rs2256974',
 'rs2239707',
 'rs395832',
 'rs9257799',
 'rs3094576',
 'rs241437',
 'rs6936863',
 'rs2075789',
 'rs9263966',
 'rs78395062',
 'rs112970572',
 'rs471942',
 'rs1324580',
 'rs7764819',
 'rs9784876',
 'rs28894977',
 'rs12742115',
 'rs12755215',
 'rs61738759',
 'rs111720341',
 'rs2621377',
 'rs2394882',
 'rs12488468',
 'rs7431710',
 'rs2404832',
 'rs79421802',
 'rs114023009',
 'rs760070',
 'rs10878507',
 'rs10784498',
 'rs213198',
 'rs1491940',
 'rs11928552',
 'rs3130062',
 'rs79309130',
 'rs14365',
 'rs4858795',
 'rs114161669',
 'rs9275601',
 'rs6442124',
 'rs2532929',
 'rs2074478',
 'rs3130157',
 'rs3915012',
 'rs1796918',
 'rs2857605',
 'rs28536668',
 'rs4390174',
 'rs413722',
 'rs2109181',
 'rs56289102',
 'rs9348819',
 'rs76560507',
 'rs3132571',
 'rs62390181',
 'rs13195441',
 'rs2267844',
 'rs10305724',
 'rs12097169',
 'rs1885276',
 'rs11209002',
 'rs116165318',
 'rs10484549',
 'rs2248372',
 'rs362517',
 'rs2071540',
 'rs76856874',
 'rs4868335',
 'rs4084096',
 'rs2071463',
 'rs2108691',
 'rs12661281',
 'rs12105808',
 'rs6724273',
 'rs17500468',
 'rs62152714',
 'rs13409',
 'rs35355673',
 'rs3094187',
 'rs1420089',
 'rs3130561',
 'rs17443552',
 'rs3857558',
 'rs6909636',
 'rs805286',
 'rs3130559',
 'rs7766902',
 'rs4348025',
 'rs4880054',
 'rs439833',
 'rs79798729',
 'rs7985908',
 'rs12060808',
 'rs2289511',
 'rs3873245',
 'rs9295837',
 'rs362538',
 'rs3130253',
 'rs12776269',
 'rs224053',
 'rs4151664',
 'rs2263316',
 'rs2028500',
 'rs202185286',
 'rs738331',
 'rs2069235',
 'rs12627970',
 'rs3132131',
 'rs1475961',
 'rs4547694',
 'rs6456834',
 'rs1569498',
 'rs62263011',
 'rs78909740',
 'rs2404573',
 'rs6072275',
 'rs6072343',
 'rs1634731',
 'rs34725611',
 'rs114142815',
 'rs2516464',
 'rs1233400',
 'rs3213917',
 'rs74974765',
 'rs2844502',
 'rs439844',
 'rs2280801',
 'rs17401735',
 'rs2295663',
 'rs72827105',
 'rs72827174',
 'rs429608',
 'rs805287',
 'rs2516507',
 'rs115594777',
 'rs4527505',
 'rs45613035',
 'rs17426594',
 'rs2847282',
 'rs3132129',
 'rs9585063',
 'rs10103667',
 'rs62260128',
 'rs7761745',
 'rs388483',
 'rs6446298',
 'rs13427703',
 'rs72928548',
 'rs879882',
 'rs78468422',
 'rs11744584',
 'rs296522',
 'rs1357264',
 'rs10467043',
 'rs34489489',
 'rs1473971',
 'rs77130822',
 'rs1233399',
 'rs9368606',
 'rs17606778',
 'rs6011076',
 'rs932826',
 'rs3115630',
 'rs362511',
 'rs3094134',
 'rs1930777',
 'rs17466339',
 'rs3131018',
 'rs873985',
 'rs12198448',
 'rs9257936',
 'rs2844508',
 'rs1264582',
 'rs72651421',
 'rs71535403',
 'rs17194188',
 'rs77577306',
 'rs4809335',
 'rs75774207',
 'rs35761247',
 'rs4947324',
 'rs130073',
 'rs62257478',
 'rs3094618',
 'rs72802391',
 'rs72804157',
 'rs7503195',
 'rs12281565',
 'rs3094214',
 'rs7762253',
 'rs10947056',
 'rs4844369',
 'rs12210359',
 'rs2278442',
 'rs1352889',
 'rs62260817',
 'rs7572284',
 'rs2075788',
 'rs9517719',
 'rs10995245',
 'rs9261309',
 'rs12156009',
 'rs4082190',
 'rs11957350',
 'rs12621278',
 'rs7584977',
 'rs73082910',
 'rs2071534',
 'rs13225818',
 'rs118016560',
 'rs10212828',
 'rs78848524',
 'rs2844651',
 'rs3129988',
 'rs113052063',
 'rs62257803',
 'rs773651',
 'rs4795411',
 'rs2236947',
 'rs4788114',
 'rs4788116',
 'rs11465670',
 'rs2772372',
 'rs80096293',
 'rs117326647',
 'rs1655906',
 'rs35790033',
 'rs45498104',
 'rs56299324',
 'rs7713567',
 'rs1264323',
 'rs7637711',
 'rs3812604',
 'rs2734574',
 'rs2517403',
 'rs78123896',
 'rs3132572',
 'rs10747031',
 'rs6665826',
 'rs2062214',
 'rs16901848',
 'rs4796969',
 'rs2057726',
 'rs8512',
 'rs10223974',
 'rs2060941',
 'rs2712102',
 'rs892787',
 'rs4408506',
 'rs5743291',
 'rs11651246',
 'rs7540530',
 'rs17155147',
 'rs1264567',
 'rs1233495',
 'rs75644281',
 'rs7001599',
 'rs2844662',
 'rs8127483',
 'rs73985234',
 'rs9261387',
 'rs16894171',
 'rs4286818',
 'rs79359715',
 'rs6939576',
 'rs116846837',
 'rs2046736',
 'rs1075496',
 'rs2393949',
 'rs2435200',
 'rs72995658',
 'rs1264518',
 'rs3131784',
 'rs1467952',
 'rs1634717',
 'rs78130877',
 'rs10509085',
 'rs4899939',
 'rs2516509',
 'rs5025708',
 'rs2300930',
 'rs12110693',
 'rs7499',
 'rs7752728',
 'rs76255660',
 'rs11672396',
 'rs3094672',
 'rs2823200',
 'rs6662887',
 'rs137585',
 'rs4648011',
 'rs7684834',
 'rs936607',
 'rs297581',
 'rs17781858',
 'rs8113032',
 'rs11536974',
 'rs174401',
 'rs10499052',
 'rs8115958',
 'rs10097605',
 'rs403414',
 'rs3130931',
 'rs28381981',
 'rs2844575',
 'rs2229971',
 'rs117127895',
 'rs10447393',
 'rs10512248',
 'rs841236',
 'rs7665274',
 'rs35883266',
 'rs213213',
 'rs2524211',
 'rs1077483',
 'rs4988300',
 'rs950031',
 'rs11074945',
 'rs9391645',
 'rs3115230',
 'rs9881306',
 'rs8103177',
 'rs7044318',
 'rs6489711',
 'rs4141060',
 'rs11161574',
 'rs10440911',
 'rs2425019',
 'rs568617',
 'rs622614',
 'rs681664',
 'rs55650192',
 'rs7738673',
 'rs11753326',
 'rs3910683',
 'rs2285802',
 'rs388234',
 'rs2092797',
 'rs2112606',
 'rs2711093',
 'rs2245737',
 'rs137698',
 'rs1583969',
 'rs3733828',
 'rs74821015',
 'rs588019',
 'rs3772985',
 'rs76143861',
 'rs77812853',
 'rs2080712',
 'rs6447159',
 'rs4851620',
 'rs808919']

In [8]:
df = pd.DataFrame()
with PyPlink("CD_UC_CON_QCed_rel1_without_relatives_maf0.05_hwe0.001_Liu2015_232SNPs_LD0.75_noFilter_binary") as bed:
        # GettinM
        bim = bed.get_bim()
        fam = bed.get_fam()
   
        # Iterating over all loci
        for loci_name, genotypes in bed:
            if loci_name in names_rel:
                df[loci_name] = genotypes[:]

df["Y"] = fam["status"]

In [9]:
df

,rs17401735,rs3767218,rs1796918,rs12742115,rs12755215,rs1885276,rs11209002,rs950031,rs11161574,rs6662887,...,rs8127483,rs7499,rs35883266,rs137585,rs738331,rs1569498,rs12627970,rs137698,rs2069235,Y
0,0,0,0,0,0,0,0,1,0,1,...,1,1,0,0,1,0,0,1,0,1
1,0,0,0,0,1,1,1,0,1,1,...,1,0,0,2,1,1,1,2,0,1
2,1,0,1,0,0,0,0,1,1,1,...,0,2,0,0,0,0,0,0,0,1
3,1,0,1,1,0,0,1,0,0,0,...,0,0,0,1,0,0,0,1,1,1
4,0,0,0,0,0,0,0,1,0,0,...,0,2,0,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66275,0,0,0,1,0,1,1,1,0,1,...,1,0,1,1,0,0,0,1,0,1
66276,0,0,0,0,0,0,0,1,1,0,...,0,1,0,0,0,0,0,0,0,1
66277,0,0,0,0,0,0,0,1,1,0,...,1,1,0,1,1,1,1,2,2,1
66278,0,0,0,0,0,1,1,0,1,1,...,0,0,0,1,1,1,1,1,1,1
66279,0,0,0,0,0,0,0,0,0,0,...,0,2,1,1,1,1,1,1,1,1

In [10]:
for col in df:
    df[col] = df[col].astype(np.float64)
    
df.to_csv("Episcan_episcan_functional_corrected_top400.csv",index=False)